<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
      <div class="card-body">
        <h5 class="mb-4">General Setttings</h5>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">APi key</span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Stipe Key</span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Firebase Key</span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Google map key</span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">COD</span>
          </div>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle"
            aria-controls="dropdown-basic">
            yes <span class="caret"></span>
          </button>
        </div>
  
        <div class="btn-group" dropdown>
          
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="javascript:;">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="javascript:;">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="javascript:;">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="javascript:;">Separated link</a>
            </li>
          </ul>
        </div>
        <h5 class="mb-4">Payment</h5>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle"
            aria-controls="dropdown-basic">
            Paypal <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="javascript:;">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="javascript:;">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="javascript:;">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="javascript:;">Separated link</a>
            </li>
          </ul>
        </div>
      </div>

      

    </div>

    <div class="card mb-4">

  <button type="submit" class="btn btn-primary float-left">Submit</button>
      </div>



      
  
</div>
